<section class="hero hero-menu"></section>
<div class="container">
  <section class="main">
    <div class="l-menu-container">
      <figure class="menu-item">
        <%= image_tag('food1.jpg', alt: 'Food1') %>
        <figcaption class="caption">
          <div class="caption-description">
            <h2>Food 1</h2>
            <p>Small description</p>
          </div>
        </figcaption>
      </figure>
      <figure class="menu-item">
        <%= image_tag('food2.jpg', alt: 'Food2') %>
        <figcaption class="caption">
          <div class="caption-description">
            <h2>Food 2</h2>
            <p>Small description</p>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="l-menu-container">
      <figure class="menu-item">
        <%= image_tag('food3.jpg', alt: 'Food3') %>
        <figcaption class="caption">
          <div class="caption-description">
            <h2>Food 3</h2>
            <p>Small description</p>
          </div>
        </figcaption>
      </figure>
      <figure class="menu-item">
        <%= image_tag('food4.jpg', alt: 'Food4') %>
        <figcaption class="caption">
          <div class="caption-description">
            <h2>Food 4</h2>
            <p>Small description</p>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="l-menu-container">
      <figure class="menu-item">
        <%= image_tag('food5.jpg', alt: 'Food5') %>
        <figcaption class="caption">
          <div class="caption-description">
            <h2>Food 5</h2>
            <p>Small description</p>
          </div>
        </figcaption>
      </figure>
      <figure class="menu-item">
        <%= image_tag('food6.jpg', alt: 'Food6') %>
        <figcaption class="caption">
          <div class="caption-description">
            <h2>Food 6</h2>
            <p>Small description</p>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
</div>
