<!DOCTYPE html>
<html>
  <head>
    <title>Chicknbap</title>
    <%= csrf_meta_tags %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/152cb8f797.js"></script>
  </head>

  <body>
    <%= render 'header' %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
